*{
    margin: 0;
    padding: 0;
}
header{
    display:flex ;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(1, 0, 26);
    font-family: sans-serif;
    height: 70PX;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-right ul,a{
    display: flex;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.header-left{
    color: white;
}
span{color: red;
font-family: cursive;
}
.header-right ul li a{
    position: relative;
}
.header-right ul li a::after{
    content: "";
    height: 3px;
    width: 0PX;
    background-color: lightblue;
    bottom: 0;
    left: 0;
    position: absolute;
}
.header-right ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
   
}
.header-right ul li a:hover{
    color: lightblue;
    transition: 0.5s;
    transform: scale(1.1);
}
#Home{
    background-color: #1a252f;
    color: white;
    height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    font-family: sans-serif;
}
#Home h1{
    font-size: 4rem;
}
#Features{
    height: 600px;
    background-color: rgb(241, 239, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;

}
.box{
    height: 250px;
    box-shadow: 0 0 30px rgb(187, 187, 187);
    width: 310px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box box-icon{
    height: 30px;
}
.bottom{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;

}
.bottom h1{
    font-size: 25px;
    font-weight: bold;
}
.top{
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
    position:relative ;
}
.top:after{
    content: "";
    height: 3px;
    width: 40%;
    background-color: blue;
    position: absolute;
    left: 40%;
}

.box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.expert{
    position: relative;
}
.expert::before{
    content: "";
    height: 0;
    width: 3px;
    background-color: blue;
    position: absolute;
    left:0;
    top: 0;
}
.expert:hover .ico1{
   
    transform: translateY(-10px);
    transition: 0.5s;
}
.expert:hover::before{
  height: 100%;
  transition: 0.5s;
}
.modern{
    position: relative;
}
.modern::before{
    content: "";
    height: 0;
    width: 3px;
    background-color: blue;
    position: absolute;
    left:0;
    top: 0;
}
.modern:hover .ico1{
    transform: translateY(-10px);
    transition: 0.5s;
}
.modern:hover::before{
  height: 100%;
  transition: 0.5s;
}
.industry{
    position: relative;
}
.industry::before{
    content: "";
    height: 0;
    width: 3px;
    background-color: blue;
    position: absolute;
    left:0;
    top: 0;
}
.industry:hover .ico1{
    transform: translateY(-10px);
    transition: 0.5s;
}
.industry:hover::before{
  height: 100%;
  transition: 0.5s;
}
.course-div{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 50px;
}
#course{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#course h1{
    padding: 50px;
}

.course{
    height: 430px;
    width: 300px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow:hidden ;
    box-shadow: 0 0 30px rgb(212, 210, 210);
}
.Image{
    background-size:100% 100%;
    background-color: blue;
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
   
}
.ima{
    background: url(https://tse1.mm.bing.net/th/id/OIP.-LdfZjMFCXGvUuc3Jcr4bQHaE8?cb=ucfimg2&pid=ImgDet&ucfimg=1&w=474&h=316&rs=1&o=7&rm=3&adlt=strict);
}
.ima1{
    background: url(https://tse2.mm.bing.net/th/id/OIP.HRRlFWhxG3c-O0Sh3n2OHwHaC9?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3&adlt=strict);
}
.ima2{
    background: url(https://ifda.in/lading-page-img/ADCA.webp);
}
.ima3{
    background: url(https://tse3.mm.bing.net/th/id/OIP.W63wx6juQtwfhMnMPM66ewHaDp?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3&adlt=strict);
}
.ima4{
    background: url(image/graphic.png);
}
.ima5{
    background: url(image/accounting.png);
}
.content1{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.course-duration{
    display: flex;
    align-items: center;
}
.para{
    padding: 10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 280px;
    padding: 10px;
    margin-top: 30px;
}
.button a {
    color: white;

}
#statistic{
    background-color:rgb(1, 0, 26) ;
    height: 300px;
    margin-top: 30PX;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}
.stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#contact{
    background-color: rgb(228, 228, 228);
    height: 450px;
    display: flex;
    justify-content: space-between;



}
.form{
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 50PX;
}
input, select,textarea{
    height: 40px;
    width: 500px;
    padding-left:10px ;

}
.contact-info{
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}
.contact-info h2{
    padding-top: 30px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(1, 0, 26);
    color: white;
}